extends layout

block content

	header#top.site-header
		//div.ui.teal.inverted.menu.navbar-fixed-top
			div.container
				div.row
				a.item.home(href='#top')
					| Home
				a.item.about(href='#first-section')
					| Services
				a.item.smoothScroll(href='#team-section')
					| Team
				a.item.portfolio(href='#second-section') Projects
				a.item.map(href='#map') Location
				a.item.contact(href='#third-section') Contact

		nav.navbar.navbar-default.navbar-fixed-top
			div.container
				div.row
					div.navbar-header
						button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
							i.fa.fa-bars
						div.logo-wrapper
							a.navbar-brand(href='http://www.nctu.edu.tw')
								p
									| N
									em CTU
					div#main-menu.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li
								span
								a.home(href='#top') Home
							li
								span
								a.about(href='#first-section') Milestones
							li
								span
								a.smoothScroll(href='#team-section') Team
							//li
								span
								a.portfolio(href='#second-section') Projects
							//li
								span
								a.map(href='#map') Location
							li
								span
								a.contact(href='#third-section') Contact
							li
								span
								a(href="https://docs.google.com/document/d/e/2PACX-1vRsJqY73vlCKAkQWZ_zRLMKFvQOv4y_poL66J5avN1S3Aq0AGDCZJRW__rB0cpHYQWT2neu93La7JU1/pub") IOC 5179


		div#big-banner
			div.container
				div.row
					div.col-md-12.col-xs-12
						ul.main-icons

		div#first-section
			div.heading
				div.container
					div.row
						div.col-md-12
							h2.header-section-title Milestones
		div#first-section1
			div.container
				div.row
					div.triangle
				div.row
					div.col-md-12
						section#cd-timeline.cd-container
							div.cd-timeline-block
								a(href="/milestone1")
									div.cd-timeline-img.cd-picture
										img(src='images/w1.png', alt='Picture')
								div.cd-timeline-content.service-box-content
										//a(href="/milestone1")
										h2 Milestone 1 - 2017/09/20
										strong
											| Project design problem 
										br
										br
										a(href="/option1")
											p
												| option 1 - 租屋問題 - 合租平台
										a(href="/option2")
											p
												| option 2 - 旅遊問題 - 協助行程規劃
										a(href="/option3")
											p
												| option 3 - 充電問題 - 充電地圖
							div.cd-timeline-block
								div.cd-timeline-img.cd-movie
									img(src='images/b2.png', alt='Picture')
								div.cd-timeline-content.service-box-content
									h2 Milestone2
									p
										| User research 
									
										//strong change top icons
										//|  by looking at guidelines from 
										//a(rel='nofollow', href='http://fontawesome.info/font-awesome-icon-world-map/') Font Awesome
										//| . Example: 
										//strong <i class="fa fa-camera"></i>
							div.cd-timeline-block
								div.cd-timeline-img.cd-icon
									img(src='images/w3.png', alt='Picture')
								div.cd-timeline-content.service-box-content
									h2 Milestone3
									p
										| Personas and Scenarios
							div.cd-timeline-block
								div.cd-timeline-img.cd-location
									img(src='images/b4.png', alt='Picture')
								div.cd-timeline-content.service-box-content
									h2 Milestone4
									p
										| Paper prototype
							div.cd-timeline-block
								div.cd-timeline-img.cd-location
									img(src='images/w5.png', alt='Picture')
								div.cd-timeline-content.service-box-content
									h2 Milestone5
									p
										| PInteractive prototype
							div.cd-timeline-block
								div.cd-timeline-img.cd-location
									img(src='images/b6.png', alt='Picture')
								div.cd-timeline-content.service-box-content
									h2 Milestone6
									p
										| System Evaluation



		div#team-section
			div.heading
				div.container
					div.row
						div.col-md-12
							h2.header-section-title Out Team Member
		
		div#team
			div.container
				div.row
					div.triangle
				//div.row
					div.col-md-2.col-sm-1
						a(href="#")
							img.ui.medium.circular.image.img-responsive(src='/images/vic2.png')
					div.col-md-2.col-sm-1
						a(href="#")
							img.ui.medium.circular.image.img-responsive(src='/images/vic2.png' )
					div.col-md-2.col-sm-1
						a(href="#")
							img.ui.medium.circular.image.img-responsive(src='/images/vic2.png' )
					div.col-md-2.col-sm-1
						a(href="#")
							img.ui.medium.circular.image.img-responsive(src='/images/vic2.png' )
					div.col-md-2.col-sm-1
						a(href="#")
							img.ui.medium.circular.image.img-responsive(src='/images/vic2.png' )
				div.row
					div.ui.vertical.stripe.quote.segment
						div.ui.equal.width.stackable.internally.mycelled.grid
							div.center.aligned.row
								div.column
									a(href="#")
										img.ui.medium.circular.image.img-responsive(src='/images/serina.jpg')
									h3 洪顗貞
									h4 清大服科所碩一

								div.column
									a(href="#")
										img.ui.medium.circular.image.img-responsive(src='/images/boy1.jpg')
									h3 張洛瑜
									h4 交大資訊工程系大四
								div.column
									a(href="#")
										img.ui.medium.circular.image.img-responsive(src='/images/vic2.png')
									h3 林逸群
									h4 交大土木工程系碩二
								div.column
									a(href="#")
										img.ui.medium.circular.image.img-responsive(src='/images/girl1.jpg')
									h3 韓舒容
									h4 交大傳科系大四
								div.column
									a(href="#")
										img.ui.medium.circular.image.img-responsive(src='/images/Hsien.JPG')
									h3 林承賢
									h4 清大服科所碩二


		//div#cta
			div.container
				div.row
					div.col-md-12
						h4 Projects
						p What we have done
		//div#second-section
			div.heading
				div.container
					div.row
						div.col-md-12
							h2 Finished Work
		//div#second-section
			div.container
				div.row
					div.triangle
				div.row
					div.col-md-12
						section#cd-timeline-2.cd-container
							div.cd-timeline-block
								div.cd-timeline-img.cd-picture
									img(src='images/camera-icon.png', alt='Picture')
								div.cd-timeline-content.projects

									a(href="#")
										img(src='images/project-1.jpg', alt='')
										div.project-content
											h2 Step 1
											span 18 December 2084
							div.cd-timeline-block
								div.cd-timeline-img.cd-picture
									img(src='images/camera-icon.png', alt='Picture')
								div.cd-timeline-content.projects
									a(href="#")
										img(src='images/project-2.jpg', alt='')
										div.project-content
											h2 Step 2
											span 12 December 2084
							div.cd-timeline-block
								div.cd-timeline-img.cd-picture
									img(src='images/camera-icon.png', alt='Picture')
								div.cd-timeline-content.projects
									a(href="#")
										img(src='images/project-3.jpg', alt='')
										div.project-content
											h2 Step 3
											span 10 December 2084
							div.cd-timeline-block
								div.cd-timeline-img.cd-picture
									img(src='images/camera-icon.png', alt='Picture')
								div.cd-timeline-content.projects
									a(href="#")
										img(src='images/project-4.jpg', alt='')
										div.project-content
											h2 Step 4
											span 30 November 2084
							div.cd-timeline-block
								div.cd-timeline-img.cd-picture
									img(src='images/camera-icon.png', alt='Picture')
								div.cd-timeline-content.projects
									a(href="#")
										img(src='images/project-5.jpg', alt='')
										div.project-content
											h2 Step 5
											span 22 November 2084
							div.cd-timeline-block
								div.cd-timeline-img.cd-picture
									img(src='images/camera-icon.png', alt='Picture')
								div.cd-timeline-content.projects
									a(href="#")
										img(src='images/project-5.jpg', alt='')
										div.project-content
											h2 Step 6
											span 22 November 2084
		//div#map
			div.container
				div.row
					div.col-md-12
						h4 Visit Us
						p This is where we operate
				div.row
					div.map-content
						div#showmap(style='height : 350px; width : 100%')
		div#third-section
			div.heading
				div.container
					div.row
						div.col-md-12
							h2 Send Us A Message
		div#third-section3
			div.container
				div.row
					div.triangle
				div.row(ng-controller="mailcontroller as mc")
					div.col-md-8
						form.form(name="mailform")
							div.row
								div.name.col-md-4
									input(type='text', name='name', placeholder='Name' ng-model="maildata.name" required)
								div.email.col-md-4
									input(type='text', name='email', placeholder='Email' ng-model="maildata.frommail" required)
								div.subject.col-md-4
									input(type='text', name='subject', placeholder='Subject' ng-model="maildata.subject" required)
							div.row
								div.text.col-md-12
									textarea(name='text', placeholder='Message' ng-model="maildata.content")
							div.submit
								input(type='submit', value='Send Now' ng-click="sendMail()" ng-disabled="mailform.$invalid")
					div.col-md-4
						div.contact-discription
							h4 More About Us!
							p
								| We are the students of National Chiao Tung University and National Tsing Hua University of Taiwan.
								br
								br
								strong Mailing Address:
								br
								|                        Natioal Chiao Tung University, 1001 Universerity Road,Hsinchu, Taiwan 300, ROC
			
								

		footer
			div.container
				div.footer-content
					div.row
						div.col-md-12
							div.col-md-4
								div.copyright-text
									p
										| Copyright © 2100
										a(href='#') IOC5179-第三組
							div.col-md-4
								div.back-to-top
									a(href='#top') Back To Top
							div.col-md-4
								div.social-icons
									ul
										li
											a(href='https://www.facebook.com/groups/1714031488608331/?fref=ts', class='#')
												i.fa.fa-facebook
										li
											a(href='https://github.com/YICHUNLIN/106FallUIUX', class='#')
												i.fa.fa-github
