doctype html
html(ng-app="UXD_app"  ng-cloak )
	head
		title 3rd
		
		meta(name='description', content='')
		meta(name='author', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(charset='UTF-8')
		link(rel='stylesheet', type='text/css', href='semantic/dist/components/image.css')
		link(rel='stylesheet', type='text/css', href='semantic/dist/components/segment.css')
		link(rel='stylesheet', type='text/css', href='semantic/dist/components/grid.css')
		link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='css/templatemo-style.css')
		link(rel='stylesheet', type='text/css', href='css/style.css')
		// JavaScripts
		//script(src='js/vendor/jquery-1.10.2.min.js')

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular-resource.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular-route.min.js')

		script(src='js/vendor/modernizr.min.js')
		

		script(src='semantic/dist/semantic.min.js')
			
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA7h9XZzi1XsZPWm87BcGr93Z67JaAwyfM&callback=initMap', async='', defer='')
		script(src='js/googlemap.js')
		script(type='text/javascript', src='js/vendor/bootstrap.min.js')
		script(type='text/javascript', src='js/custom.js')
		script(type='text/javascript', src='js/UXD_app.js')
		script(type='text/javascript', src='js/UXD_controller.js')
		script(type='text/javascript', src='js/UXD_service.js')





	body()
		block content
