doctype html
html
	head
		title Timeline - Free Responsive Template
		
		meta(name='description', content='')
		meta(name='author', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(charset='UTF-8')
		link(rel='stylesheet', type='text/css', href='semantic/dist/components/image.css')
		link(rel='stylesheet', type='text/css', href='semantic/dist/components/segment.css')
		link(rel='stylesheet', type='text/css', href='semantic/dist/components/grid.css')
		link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='css/templatemo-style.css')
		link(rel='stylesheet', type='text/css', href='css/style.css')
		// JavaScripts
		//script(src='js/vendor/jquery-1.10.2.min.js')

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
		script(src='js/vendor/modernizr.min.js')
		script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyBX_MX3FG41KGW9weXuvjjd531YEJllpyI&callback=initMap', async='', defer='')
		script(src='js/googlemap.js')

		script(src='semantic/dist/semantic.min.js')






	body
		block content
