extends milestoneLayout

block content


	header#top.site-header
		nav.navbar.navbar-default.navbar-fixed-top
			div.container
				div.row
					div.navbar-header
						button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
							i.fa.fa-bars
						div.logo-wrapper
							a.navbar-brand(href='http://www.nctu.edu.tw')
								p
									| N
									em CTU
					div#main-menu.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li
								span
								a.home(href='/') Home
							li
								span
								a.about(href='#problem') Problem
							li
								span
								a.smoothScroll(href='#population') Population
							li
								span
								a.map(href='#importent') Importent
							li
								span
								a.contact(href='#stakeholders') Stakeholders

	div#milestone-banner
		div.container
			//div.row
				div.col-md-12.col-xs-12
					ul.main-icons
					h4 Option 3
					p Project design problem 
	div#problem
		div.heading
			div.container
				div.row
					div.col-md-12
						h2.header-section-title What’s the problem?

	div.ui.vertical.stripe.quote.segment
		div.ui.equal.width.stackable.internally.mycelled.grid
			div.center.aligned.row
				div.column
					img(src='images/option3-1.jpg')
				div.column
					h3 出門在外手機突然沒電
					h3 沒帶充電器也不知道哪裡可以充電
	div#population
		div.heading
			div.container
				div.row
					div.col-md-12
						h2.header-section-title Who is the population?

	div.ui.vertical.stripe.quote.segment
		div.ui.equal.width.stackable.internally.mycelled.grid
			div.center.aligned.row
				div.column
					h1 任何人 有手機的人
	div#importent
		div.heading
			div.container
				div.row
					div.col-md-12
						h2.header-section-title Why is the problem important?

	div.ui.vertical.stripe.quote.segment
		div.ui.equal.width.stackable.internally.mycelled.grid
			div.center.aligned.row
				div.column
					h3 現代人離不開手機
					h3 在手機上能完成很多事情
					h1 例如
					h3 叫車、applepay ...等等
					h3 一但手機沒電會造成許多不便
	div#stakeholders
		div.heading
			div.container
				div.row
					div.col-md-12
						h2.header-section-title Who are the stakeholders?

	div.ui.vertical.stripe.quote.segment
		div.ui.equal.width.stackable.internally.mycelled.grid
			div.center.aligned.row
				div.column
					h3 店家
					h3 充電的人


	footer
		div.container
			div.footer-content
				div.row
					div.col-md-12
						div.col-md-4
							div.copyright-text
								p
									| Copyright © 2100
									a(href='#') IOC5179-第三組
						div.col-md-4
							div.back-to-top
								a(href='#top') Back To Top
						div.col-md-4
							div.social-icons
								ul
									li
										a(href='https://www.facebook.com/groups/1714031488608331/?fref=ts', class='#')
											i.fa.fa-facebook
									li
										a(href='https://github.com/YICHUNLIN/106FallUIUX', class='#')
											i.fa.fa-github
